*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

h3{
    text-align: center;
    color: black;
}

body{
    background-color: pink;
}

table{
    width: 50%;
    border-collapse: collapse;
    margin: 25px 0;
    margin: auto;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 8px;
    text-align: center;
    border: solid white;
}

hr{
    border: none;
    border-top: 3px solid white;
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
}

.header img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    order: -1;
  }

  .header h1 {
    flex: 1; /* make the h1 element take up the remaining space */
  text-align: center; /* center the text */
  }
  